@media (min-width: 1440px) {
    body {
        background-image: linear-gradient(170deg, skyblue, sandybrown);
        background-size: cover;
    }
    .mob {
        display: none;
    }
    .desk {
        display: block;
    }

    main {
        background-image: url('../images/texture-1.jpg');
        background-size: cover;
        width: 25rem;
        margin: 5rem auto 0;
        padding: 3.25rem;
        background-color: var(--White);
        border-radius: .5rem;
        box-shadow: 0 0 10px 5px #444;
    }
        .outer-frame {
            border-radius: .5rem;
            padding: 2.75rem;
            /* outline: 1px solid red; */
            box-shadow: 0 0 20px 10px #222;
        }
        .frame {
            border-radius: .3rem;
            /* outline: 1px solid red; */
            padding: 1.25rem;
            box-shadow: inset 1px 1px 15px 6px #222,
                        inset -1px -1px 15px 6px #222;
        }
        section {
            padding: 1.5rem 0;
        }

        section h2.desk {
            padding-top: 1.25rem;
            font-size: 2.5rem;
            color: var(--texture-clr);
            /* text-shadow: 1px 1px 10px #111; */

        }
        section p.desk {
            font-size: 1.75rem;
            color: #000;
            /* color: var(--texture-clr); */
            /* text-shadow: 0 0 4px var(--texture-clr); */
        }

    footer {
        font-size: 16px;
        padding: 1rem;
        /* background-color: var(--texture-clr); */
    }
        footer a {
            color: hsl(228, 45%, 44%);
        }

    .frame picture {
        animation: bright 5s infinite ease-in-out;
    }
}

@keyframes bright {
    73% {
        filter: brightness(1.25);
    }
    80% {
        filter: brightness(.25);
    }
    84% {
        filter: brightness(1.25);
    }
    91% {
        filter: brightness(.25);
    }
}